h1 {
  line-height: 1.2;
}

#langingpre {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  font-family: inherit;
  font-family: "Simple Console", monospace;
  line-height: 1;
}

#welcome-parent {
  height: 100vh;
  position: absolute;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome {
  height: fit-content;
  font-family: "wethard";
  font-size: 20rem;
  color: white;
  mix-blend-mode: difference;
  line-height: 0.6em;
  margin: 0;
}

#press-y {
  background-color: #e0c7a3;
  color: #222;
  align-content: end;
  padding: 0.4em 1em 0.4em 1em;
  font-size: 1.2em;
  width: fit-content;
}

#press-y-parent {
  background-color: red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #welcome {
    font-size: 4rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #welcome {
    font-size: 12rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #welcome {
    font-size: 16rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #welcome {
    font-size: 20rem;
  }
}
