h1 {
  line-height: 1.2;
}

#langingpre {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  font-family: inherit;
  font-family: "Simple Console", monospace;
  line-height: 1;
}

#welcome-parent {
  height: 100vh;
  position: absolute;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome {
  height: fit-content;
  font-family: "wethard";
  font-size: 20rem;
  color: white;
  mix-blend-mode: difference;
  line-height: 0.6em;
  margin-bottom: 0;
}

#press-y {
  background-color: #e0c7a3;
  align-content: end;
  width: fit-content;
}

#press-y > p {
  color: #222;
  width: fit-content;
  padding: 0.4em 1em 0.4em 1em;
  font-size: 1.2em;
}
